version: "3"

services:
  pihole:
    image: ghcr.io/pi-hole/pihole:latest
    environment:
      - TZ=Europe/Berlin
      - WEBPASSWORD=your_secure_password
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - "./pihole.conf:/etc/pihole/pihole.conf"
      - "./dnsmasq.d:/etc/dnsmasq.d"
      - "./etc-pihole:/etc/pihole"
    
    dns:
      - 127.0.0.1
      - 1.1.1.1