# Pi-hole configuration file

cache-size=10000

# Upstream DNS servers

server=208.67.222.222
server=2620:119:35::35
server=1.1.1.1
server=1.0.0.1
server=2606:4700:4700::1111
server=2606:4700:4700::1001

# Interface listening behavior
interface=eth0

# Logging options
log-queries
log-facility=/var/log/pihole.log

# Blocking modes
gravity-constrained
pihole-regex

# Whitelisting and blacklisting
whitelist=/etc/pihole/whitelist.txt
blacklist=/etc/pihole/blacklist.txt

# DNSSEC options
dnssec
dnssec-check-unsigned

# IPv6 options
enable-ipv6

# Advanced options
domain-needed
expand-hosts
bogus-priv
